html, body {
    height: 100%;
    text-align: center;
    background-image: linear-gradient(rgb(75, 218, 75), rgb(231, 231, 128));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h3 {
    color: brown;
}

p {
    text-align: justify;
    padding-top: 4vh;
    padding-left: 10vh;
    padding-right: 10vh;
    font-size: large;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img-container img {
    width: 30vh;
    height: 21.6vh;
    margin: 1vh;
}

.pages-links {
    margin: 2vh;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: black;
    font-size: larger;
}

a:hover {
    color: blue;
}


/* Form: */
.myForm {
    margin-top: 5vh;
    margin-left: 2vh;
    margin-right: 2vh;
    display: grid;
    grid-template-columns: [labels] 0.4fr [controls] 1fr;
    grid-auto-flow: row;
}

.myForm>label {
    justify-content: center;
    grid-column: labels;
    grid-row: auto;
    padding-top: 1vh;
    font-size: 3.3vh;
}

.myForm>input,
.myForm>textarea {
    grid-column: controls;
    grid-row: auto;
    padding: 1em;
    border: 1px black solid;
}

.btn {
    grid-column: controls;
}

.btn>input {
    width: 25%;
    margin: 5px;
}